<div class="description-div">
  <h1 id="index-header">remember past travels
    <br />
    &amp; create new adventures</h1>
</div>
<div class="signup-btn">

  <button class="btn"><a href="/signup">sign up!</a></button>
</div>
