
<h1 id="profile-greeting"> Welcome {{ user.username }} </h1>

{{!-- WORLD MAP --}}
<div id="world-map-partial">
{{> worldmap }}
</div>

<button class="btn"><a href="/private/{{ user.username }}/travels">See your past travels!</a></button>
