<div class="greeting-div">
<h1 id="profile-greeting"> Welcome {{ user.username }} </h1>
</div>

<div class="div-btn-link up">
    <button class="btn orange selectTravel active">travel mode!</a></button>
    <button class="btn petrol selectAdventure passive">add adventure!</a></button>
</div>

{{!-- WORLD MAP --}}
<div id="world-map-partial">
{{> worldmap }}
</div>

<div class="div-btn-link bottom">
<button class="btn orange"><a href="/private/{{ user.username }}/travels">see past travels!</a></button>
<button class="btn petrol"><a href="/private/{{ user.username }}/adventures">see new adventures!</a></button>
</div>

