<div class="greeting-div">
<h1 id="profile-greeting"> Welcome {{ user.username }} </h1>
</div>

{{!-- WORLD MAP --}}
<div id="world-map-partial">
{{> worldmap }}
</div>

<button class="btn orange"><a href="/private/{{ user.username }}/travels">See your past travels!</a></button>
