<div class="description-div signup">
  <h1 id="index-header">sign up page
      <br>     
  </h1>
</div>

<div class="signup-form-div">
<form action="/signup" method="POST" onsubmit="return checkForm(this);">
    <input
      id="username"
      type="text"
      name="username"
      value=""
      placeholder="Username"
      required
    />
    <input id="email" type="email" name="email" value="" placeholder="Email" />
    <input
      type="password"
      title="Password must contain at least 6 characters, including at least one Upper & one lowercase & numbers"
      name="password1"
      value=""
      placeholder="Password"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
      onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
  if(this.checkValidity()) form.password2.pattern = RegExp.escape(this.value);">
    <button class="btn signup" type="submit">Sign up</button>
</form>
</div>


<div class="error-message-div">
{{#if error}}
  <h2 class="error-user">Upps... An error happend!</h2>
{{/if}}
</div>
