
<div class="description-div signup">
  <h1 id="index-header">sign up page
      <br>     
  </h1>
</div>

<div class="signup-form-div">
  <form action="/signup" method="POST">

    <input
      id="username"
      type="text"
      name="username"
      value=""
      placeholder="Username"
    />
    <input id="email" type="email" name="email" value="" placeholder="Email" />
    <input type="password" name="password" value="" placeholder="Password" />
    <input type="password" name="repeatpassword" value="" placeholder="Repeat password" />
    <button class="signup-form-div btn" type="submit">sign up!</button>

  </form>


<div/>

<div class="error-message-div">
{{#if error}}
  <h2>Hey this is an error</h2>
{{/if}}

</div>

