<h3>This is the DetailsList</h3>

<form action="/private/{{user.username}}/travels/{{user._id}}" method="POST">

<label for="country">Country:</label>
<input id="country" type="text" name="country" value="">
<br>
<label for="cities">Cities:</label>
<input id="cities" type="text" name="cities" value="">
{{!-- <br>
<label for="travelName">Travel Name:</label>
<input id="travelName" type="text" name="travelName" value=""> --}}
<br>
<label for="dateStart">Start of the travel:</label>
<input id="dateStart" type="date" name="dateStart" value="">
<br>
<label for="dateEnd">End of the travel:</label>
<input id="dateEnd" type="date" name="dateEnd" value="">
{{!-- <br>
<label for="categories">Categories:</label>
<input id="categories" type="text" name="categories" value=""> --}}
{{!-- <br>
<label for="experience">Experience:</label>
<input id="experience" type="text" name="experience" value=""> --}}
{{!-- <br>
<label for="photo">Photo:</label>
<input id="photo" type="text" name="photo" value=""> --}}
<button type="submit">Save your entry!</button>

</form>
