body {
  font-family: "Gaegu", cursive;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-div {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  color: white;
}

.navbar-div * {
  display: inline;
}

.flavicon-and-name-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flavicon-and-name-div img {
  width: 5vh;
  margin-left: 1vw;
}

.flavicon-and-name-div h3 {
  margin: 1vh;
  font-size: 2rem;
}

#nav-traventure a {
  text-decoration: none;
  color: white;
}

.navbar-ul-div {
  display: flex;
  justify-content: flex-end;
  margin: 3vh;
}

.navbar-ul-div a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 2vw;
}

.logout-btn {
  background-color: black;
  color: white;
  font-family: "Gaegu", cursive;
  font-size: 1rem;
  border: black;
  margin-left: 1.5vw;

}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 10vh;
  left: 0;
}

.watermark {
  position: absolute;
  z-index: -1;
  top: 8vh;
}

#semi-transparent-favicon {
  opacity: 0.1;
  width: 50vh;
}

/* ------------------------------------ */
/* Style for index page */

.description-div.login {
  width: 100vw;
  top: -8vh;
}

.description-div {
  position: relative;
  top: -10vh;
}

#index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.signup-btn {
  position: relative;
  top: -10vh;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Gaegu", cursive;
  color: white;
  border-color: black;
  padding: 0.1vw 3vw;
}

.btn:hover {
  border: 0.5vh solid rgb(69, 69, 69);
  background-color: rgb(69, 69, 69);
  color: white;
}

.btn:active {
  border: 0.5vh solid rgb(69, 69, 69);
  background-color: rgb(69, 69, 69);
  color: white;
  transform: translateY(1vh);
}

.btn a {
  text-decoration: none;
  font-family: "Gaegu", cursive;
  font-size: 1.5rem;
  color: white;
}

/* ------------------------------------ */
/* Style for signup & login page */
.form-div {
  position: relative;
  top: -40vh;
}

.description-div.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -5vh;
}

.signup-form-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5vh;
  width: 100vw;
}

.signup-form-div form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative;
  top: -5vh;
  width: 100vw; */
}

.signup-form-div input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
  font-family: "Gaegu", cursive;
  font-weight: bold;
  background-color: black;
  border: black;
  color: white;
  font-weight: 300;
  font-size: 1.7rem;
  padding: 0.5vh 0vh 0.5vh 1vh;
}

.signup-form-div.btn {
  display: flex;
    justify-content: center;
    top: 4vh;
    font-size: 1rem;
    height: 3.5vh;
    width: 16vh;
    margin-left: 6vh;
    padding: 1vh;
}

.signup-form-div input::placeholder {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.7rem;
}

.signup-form-div input::value {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.error-message-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.btn.signup {
  margin: 1vh;
  font-size: 1.4rem;
}

.error-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------
style for login page */
/* The error message come from the signup page */

.header.login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.login-form-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5vh;
  width: 100vw;
}
.login-form-div form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative;
  top: -5vh;
  width: 100vw; */
}

.login-form-div input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
  font-family: "Gaegu", cursive;
  font-weight: bold;
  background-color: black;
  border: black;
  color: white;
  font-weight: 300;
  font-size: 1.7rem;
  padding: 0.5vh 0vh 0.5vh 1vh;
}

.btn.login {
  margin: 1vh;
  font-size: 1.7rem;
}


.login-form-div input::placeholder {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.7rem;
}

.login-form-div input::value {
  color: white;
  text-decoration: none;
  font-weight: 200;
}


/* ------------------------------------ */
/* Style for profile page */

.greeting-div {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

#profile-greeting {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding-left: 3vw;
}

#world-map-partial {
  display: flex;
    justify-content: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    /* overflow: scroll; */
}

svg {
  display: flex;
  justify-content: center;
  /* overflow: auto; */
  position: absolute;
  top: 0;
  /* left: 20vw; */
  height: 100% !important;
  width: 100%;
}

.btn.orange {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff8b42;
  font-family: "Gaegu", cursive;
  color: black;
  border: 0.5vh solid #ff8b42;
  font-size: 1.2rem;
}

.btn.orange:hover {
  border: 0.5vh solid #f8ae7f;
  background-color: #f8ae7f;
  color: black;
}

.btn.orange:active {
  border: 0.5vh solid #f8ae7f;
  background-color: #f8ae7f;
  color: white;
  transform: translateY(1vh);
}

.btn.orange a {
  text-decoration: none;
  font-family: "Gaegu", cursive;
  font-size: 1.5rem;
  color: black;
}

.btn.petrol {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0098A3;
  font-family: "Gaegu", cursive;
  color: black;
  border: 0.5vh solid #0098A3;
  margin-left: 3vw;
  font-size: 1.2rem;
}

.btn.petrol:hover {
  border: 0.5vh solid #02bcc9;
  background-color: #02bcc9;
  color: black;
}

.btn.petrol:active {
  border: 0.5vh solid #02bcc9;
  background-color: #02bcc9;
  color: white;
  transform: translateY(1vh);
}

.btn.petrol a {
  text-decoration: none;
  font-family: "Gaegu", cursive;
  font-size: 1.5rem;
  color: black;
}

.div-btn-link {
  display: flex;
  flex-direction: row;
}

.div-btn-link.up {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-end;

}

/* ------------------------------------ */
/* Style for past travels page */

.semi-transparent-favicon {
  opacity: 0.15;
  width:70vh;
}

.past-travels-div {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.past-travels-div.travelList > h1 {
  display: flex;
    justify-content: flex-start;
    width: 30 vw;
    padding: 0 3vw;
    margin-left: 3vw;
    /* margin-top: 8vh; */
    background-color: #ff8b42;
    font-size: 2.5rem;
    color: black;
}

.ul-travels-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

ul {
  margin: 0;
  padding: 0;
}

.ul-travels-container li {
  display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.black-travel-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  background-color: black;
  width: 70vw;
  /* height: 25vh; */
  margin-bottom: 1vw;
  flex-wrap: wrap;
  margin-left: 3vw;
}

.country-and-year-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

#country-in-travel-box {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: #ff8b42;
  width: 50%;
  flex: 2;
  font-size: 2.5rem;
  margin-left: 1vh;
  margin-top: 0.5vh;
}

#year-in-travel-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #ff8b42;
  font-size: 2.5rem;
  margin-right: 1vh;
  margin-top: 0.5vh;
}

#year-in-travel-box i {
  margin-right: 2vh;
  font-size: 2rem;
}

.btn-travel-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.btn-travel-box form{
  margin: 0;
  display: flex;
  width: 20%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.cities-travel-list {
  display: flex;
    color: #ff8b42;
    width: 60%;
    padding-left: 3vh;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.cities-travel-list i {
  margin-right: 3vh;
  font-size: 1.5rem;
}

.edit-btn-travel-list {
  display: flex;
  color: black; 
  text-decoration: none;
  background: #ff8b42;
  border: 1vh black;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 2.5vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 1vw;
}

.edit-btn-travel-list-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.delete-btn-travel-list {
  display: flex;
  color: black;
  width: 80%;
  text-decoration: none;
  background: #ff8b42;
  border: 1vh #ff8b42;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 2vh 1vh 2vh 2vh;
  font-family: "Gaegu", cursive;
  align-content: center;
  justify-content: center;
}

.delete-btn-travel-list i {
  margin-left: 2vh;
}


.btn-travel-box a {
  text-decoration: none;
  color: black;
  font-family: "Gaegu", cursive;
  font-size: 1.5rem;
}



#debuggingId {
  width: 300px;
}


/* ------------------------------------ */
/* Style for details page */
.detailspage-container {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.details-form {
  width: 40vw;
}

.header-div {
  width: 100vw;
  display: flex;
}

.header-div > h1 {
  display: flex;
  justify-content: flex-start;
  width: 30 vw;
  padding: 0 3vw;
  background-color: #ff8b42;
  color: black;
}

.details-form > form {
  background-color: black;
  padding: 2vh;
  color: #ff8b42;
  font-size: 1.3rem;
  font-weight: bold;
}
.details-form > form > * {
  margin: 1vh;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button{
  font-size: 1.2rem;
}

/* FUNKTIONIERT NICHT */
.details-form input, select {
  padding: 0.5vh;
  font-size: 1rem;
}

.details-form > form > button {
  align-self: center;
}

.wiki {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  width: 35vw;
  border: 0.8vw #ff8b42 solid;
  padding: 1vw;
}

/* Links funtionieren nicht mehr aus wiki, daher entfernen */
.wiki * {
  text-decoration: none;
  color: black;
  padding: 0.5vh;
}

.wiki > table > tbody > tr:nth-child(1) > th > div:nth-child(1) {
  font-size: 2.2rem;
}

.flag {
  width: 90%;
  height: auto;
}

/* ------------------------------------ */
/* Style for adventure list page */

.semi-transparent-favicon {
  opacity: 0.15;
  width:70vh;
}

.past-travels-div {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.past-travels-div.adventureList > h1 {
  display: flex;
    justify-content: flex-start;
    width: 30 vw;
    padding: 0 3vw;
    margin-left: 3vw;
    /* margin-top: 8vh; */
    background-color: #0098A3;
    font-size: 2.5rem;
    color: black;

}

#country-in-travel-box-adventure {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: #0098A3;
  width: 50%;
  flex: 2;
  font-size: 2.5rem;
  margin-left: 1vh;
  margin-top: 0.5vh;
}

#year-in-travel-box-adventure {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #0098A3;
  font-size: 2.5rem;
  margin-right: 1vh;
  margin-top: 0.5vh;
}

.cities-travel-list-adventure {
  display: flex;
    color: #0098A3;
    width: 60%;
    padding-left: 3vh;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.edit-btn-travel-list-adventure {
  display: flex;
  color: black; 
  text-decoration: none;
  background: #0098A3;
  border: 1vh black;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 2.5vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 1vw;
}

.delete-btn-travel-list-adventure {
  display: flex;
  color: black;
  width: 80%;
  text-decoration: none;
  background: #0098A3;
  border: 1vh #0098A3;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 2vh 1vh 2vh 2vh;
  font-family: "Gaegu", cursive;
  align-content: center;
  justify-content: center;
}
