body {
  font-family: 'Gaegu', cursive;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-div {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  color: white;

}

.navbar-div * {
  display: inline;
}

.flavicon-and-name-div {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.flavicon-and-name-div img {
  width: 5vh;
  margin-left: 1vw;
}

.flavicon-and-name-div h3 {
  margin:1vh;
  font-size: 2rem;
}

.navbar-ul-div {
  display: flex;
  justify-content: flex-end;
  margin:3vh;
}

.navbar-ul-div a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 2vw;
}

.main-content {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------------------------------ */
/* Style for index page */

#index-header {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
}

.btn {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'Gaegu', cursive;
  color: white;
  border-color: black;
  
}

.btn:hover {
  border: 0.5vh solid rgb(69,69,69);
  background-color: rgb(69,69,69);
  color: white;
}

.btn:active {
  border: 0.5vh solid rgb(69,69,69);
  background-color: rgb(69,69,69);
  color: white;
  transform: translateY(1vh);
}

.btn a {
  text-decoration: none;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  color: white;
}

/* ------------------------------------ */
/* Style for profile page */

#profile-greeting {
  display: flex;
  align-items: flex-start;

}

#world-map-partial {
  position: relative;
  height: 80vh;
  width: 90vw;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

svg {
max-height: 80vh;
max-width: 90vw;
object-fit: contain;
}

