body {
  font-family: 'Gaegu', cursive;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-div {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  color: white;

}

.navbar-div * {
  display: inline;
}

.flavicon-and-name-div {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.flavicon-and-name-div img {
  width: 4vw;
}

.flavicon-and-name-div h3 {
  margin:1vh;
  font-size: 2rem;
}

.navbar-ul-div {
  display: flex;
  justify-content: flex-end;
  margin:3vh;
}

.navbar-ul-div a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem
}

h1 {
  color: 15px;
}

